javaworkspace/usedPhoneSales/.settings/org.eclipse.jdt.core.prefs
javaworkspace/.gitignore
javaworkspace/usedPhoneSales/.settings/org.eclipse.core.resources.prefs
javaworkspace/usedPhoneSales/.classpath
javaworkspace/usedPhoneSales/.gitignore
javaworkspace/usedPhoneSales/.project
